export(idendro)

import(cranvas)
importFrom(plumbr,add_listener,remove_listener,is.mutaframe)
importFrom(grDevices,colorRampPalette,rgb)
import(qtpaint)
import(qtbase)
importFrom(scales,alpha)
importFrom(stats,as.hclust,cutree,quantile,update)
importFrom(utils,head,object.size,tail)
